body{
    background-color: rgb(100, 0, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: deeppink;
    color: blueviolet;
    position: fixed;
    bottom: 0;
    width: 100%
}
footer p {
  text-align:center;
  font-size: 0.6rem;
  margin: 0.5rem
}
#container{
    display: flex;
}
 .cartao{
    margin: 1rem 1rem
}