body{
    background:url(img/bg-desktop.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
        --text-color: #dbe4ef;
        --card-font-color: #144480;
        --card-back-color:#00f4bf; 
}
footer{
    background-color: aqua;
    color: rgb(226, 43, 150);
    position: fixed;
    bottom: 0;
    width: 100%
}
footer p {
  text-align:center;
  font-size: 0.6rem;
  margin: 0.5rem
}
#container{
    display: flex;
}
 .cartao{
    margin: 1rem 1rem;
    background-color: lightpink;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}
.cartao_conteudo{
text-align: center;
background-color: var(--card-front-color);
height: 100%
}
.cartao_conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.cartao_conteudo_pergunta p{
    color: var (--text-color);
    font-weight: 500;
}
.cartao_conteudo_resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}
